p{
    font-size: 40px;
}

.inactive{
    display: none;
}

.button-ingresar{
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #1E2EDE;
    background-color: #1E2EDE;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transform: scale(1);
}

.button-ingresar:hover{
    transform: scale(1.1);
    background-color: #1E2EDE;
    box-shadow: 0 0 10px #1E2EDE, 0 0 20px #1E2EDE, 0 0 40px #1E2EDE;
}